WCF_service_caier14/WCF_Client/Connected Services/ConversionTempReference/ConservisionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConservisionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF_service_caier14/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF_service_caier14/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IconversionService_ConvertVersCelsius_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertVersCelsius" />
  </wsdl:message>
  <wsdl:message name="IconversionService_ConvertVersCelsius_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertVersCelsiusResponse" />
  </wsdl:message>
  <wsdl:message name="IconversionService_ConvertVersFahr_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertVersFahr" />
  </wsdl:message>
  <wsdl:message name="IconversionService_ConvertVersFahr_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertVersFahrResponse" />
  </wsdl:message>
  <wsdl:portType name="IconversionService">
    <wsdl:operation name="ConvertVersCelsius">
      <wsdl:input wsaw:Action="http://tempuri.org/IconversionService/ConvertVersCelsius" message="tns:IconversionService_ConvertVersCelsius_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IconversionService/ConvertVersCelsiusResponse" message="tns:IconversionService_ConvertVersCelsius_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertVersFahr">
      <wsdl:input wsaw:Action="http://tempuri.org/IconversionService/ConvertVersFahr" message="tns:IconversionService_ConvertVersFahr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IconversionService/ConvertVersFahrResponse" message="tns:IconversionService_ConvertVersFahr_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IconversionService" type="tns:IconversionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertVersCelsius">
      <soap:operation soapAction="http://tempuri.org/IconversionService/ConvertVersCelsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertVersFahr">
      <soap:operation soapAction="http://tempuri.org/IconversionService/ConvertVersFahr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConservisionService">
    <wsdl:port name="BasicHttpBinding_IconversionService" binding="tns:BasicHttpBinding_IconversionService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_service_caier14/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>